.top{
    display: flex;
    flex-direction: row;
  

}

.ttl{  

&__second-title{
    color: #4A4FF2;
    font-family: Mulish;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.423px;
    margin-top: 180px;
    margin-left: 125px;
}

 &__p-first{
    color: #111;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 150% */
    width: 535px;
    height: 191px;
    margin-left: 125px;
    margin-top: 32px;
 }
 &__blue{
    color: #4A4FF2;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
 }
}

.right{

    &__line{
        width: 30px;
        height: 2px;
        opacity: 0.5;
        background: #111;
        margin-left: 190px;
        margin-top: 290px;
        display: flex;
     }

     &__blur{
        color: #111;
        font-family: Mulish;
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
        margin-top: 9px;
        margin-left: 190px;
        opacity: 0.6;
        
     }
}

.picbox{
    // display: flex;
    // flex-direction: row;
    // // justify-content: space-evenly;
    // align-items: flex-start;
    // flex-wrap: wrap;
    

     &__a{
        display: flex;
        width: 1110px;
        height: 1960px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin-left: 125px;
        margin-top: 575px;
        // width: 357px;
        // height: 413px;
        // flex-shrink: 0;
        // margin-left: 125px;
        // margin-top: 144px;
    }

    // &__b{
    //     width: 356px;
    //     height: 351px;
    //     flex-shrink: 0;
    //     margin-left: 20px;
    //     margin-top: 144px;
   
    // }

    // &__c{
    //     width: 350px;
    //     height: 599px;
    //     flex-shrink: 0; 
    //     margin-left: 27px;
    //     margin-top: 144px;
    //     margin-right:125px ;
    // }

    // &__d{
    //     width: 357px;
    //     height: 475px;
    //     flex-shrink: 0;
    //     margin-left: 125px;
    //     margin-top: 20px;
       
    // }

    // &__e{
    //     width: 350px;
    //     height: 413px;
    //     flex-shrink: 0;
    //     margin-top: -220px;
    //     margin-left: 20px;
    // }

    // &__f{
    //     width: 357px;
    //     height: 413px;
    //     flex-shrink: 0;
    // }

    // &__g{
    //     width: 357px;
    //     height: 475px;
    //     flex-shrink: 0;
    // }

    // &__h{
    //     width: 356px;
    //     height: 537px;
    //     flex-shrink: 0;
    // }

    // &__i{
    //     width: 357px;
    //     height: 537px;
    //     flex-shrink: 0;
    // }
    // &__j{
    //     width: 357px;
    //     height: 537px;
    //     flex-shrink: 0;
    // }

    // &__k{
    //     width: 356px;
    //     height: 599px;
    //     flex-shrink: 0;
    // }

    // &__l{
    //     width: 350px;
    //     height: 351px;
    //     flex-shrink: 0;
    // }
}




// BOX 1
.box{

    display: flex;

  

    &__p-second{
        width: 635px;
        height: 106px;
        flex-shrink: 0;
        color: #111;
        font-family: Mulish;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px; /* 135.714% */
        margin-left: 125px;
        margin-top: 91px;
        
    }

    &__middle-nav{
       width: 444px;
       display: flex;
       list-style: none;
       margin-left: 200px;
    }

        
    &__right-one{
        display: flex;
        
       
    } 
}

ul{
    list-style: none;
    margin-top: 99px;
    opacity: 0.6;
}
.underline{
    margin-top: 101px;
    width: 1110px;
    height: 2px;
    flex-shrink: 0;
    margin-left: 125px;
    }




    // BOX2
.row{
    width: 1110px;
    margin-left: 125px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    &__first-ttl{
        color: #111;
        font-family: Mulish;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 48px;
        margin-left: 1px;
    }
&__mid-r{
    color: #111;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 48px;
    // margin-left: 276px;
    margin-left: 353px;
}

&__mid-r2{
    color: #111;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 167px;
    // margin-left: 276px;
    margin-left: 353px;
}

&__one{
    color: #111;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 160px;
    margin-top: 48px;
}
&__two{
    color: #111;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 160px;
    margin-top: 150px;
}

&__under-txt{
    width: 190px;
    color: #111;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    opacity: 0.6;
    margin-left: 160px;
    margin-top: 12px;
}
}
.under-line{
    margin-top: 32px;
    width: 1110px;
    margin-left: 125px;
   
    }



    // SECOND
    .second{
        width: 1110px;
        margin-left: 125px;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

    &__first-ttl{
        color: #111;
        font-family: Mulish;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 48px;
        margin-left: 1px;
    }
&__mid-r{
    color: #111;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 48px;
    // margin-left: 276px;
    margin-left: 353px;
}

&__mid-r2{
    color: #111;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 167px;
    // margin-left: 276px;
    margin-left: 353px;
}

&__one{
    color: #111;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 160px;
    margin-top: 48px;
}
&__two{
    color: #111;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 160px;
    margin-top: 150px;
}

&__under-txt{
    width: 190px;
    color: #111;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    opacity: 0.6;
    margin-left: 160px;
    margin-top: 12px;
}
    }
    .under-line2{
        margin-top: 31px;
        width: 1110px;
        margin-left: 125px;
       
        }


// NEW PAGE
// title

.title{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1360px;

&__main{
    margin-top: 194px;
    margin-left: 125px;
    width: 475px;
    color: #111;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 137.5% */
}

    &__p{
        margin-top: -200px;
        margin-left: 125px;
        width: 635px;
        height: 222px;
        flex-shrink: 0;
        color: #111;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
   }

   &__p2{
   margin-top: -150px;
    margin-left: 125px;
    width: 635px;
    height: 222px;
    flex-shrink: 0;
    color: #111;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}


 &__box{
    margin-top: 138px;
    display: flex;
    flex-direction: column;
    
   
 }
&__nav{
    display: flex;
    flex-direction: row;
    margin-top: -50px;
}

 &__i{
    color: #111;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 37px;
   margin-right: 100px;
   
   
    
    
 }
 &__i2{
    color: #111;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 37px;
    margin-right: 130px;

 }


 
 }
 .line-short{
    margin-left: -40px;
    width: 200px;
 }
 


  // pic
  .pic{
  &__grl{
    width: 1110px;
    height: 660px;
    flex-shrink: 0;
    height: 660px;
    flex-shrink: 0;
    margin-left: 125px;
    margin-top: 61px;
  }
  }

  .p{
    &__p{
        width: 1109px;
        height: 93px;
        flex-shrink: 0;
        color: #111;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
        text-align: center;
        margin-left: 125px;
        margin-top: 45px;
    }
  }


//   pic2
.pic2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 125px;
    width: 1109px;
}


// 

.last{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
   height: 500px;

&__head{
    color: #111;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 137.5% */
    width: 475px;
    height: 174px;
    flex-shrink: 0;
    margin-left: 125px;
    margin-top: 114px;
  
}
&__prg{
    color: #111;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 445px;
height: 56px;
flex-shrink: 0;
margin-left: 125px;
margin-top: 21px;
}

&__right{

    margin-left: 360px;
    width: 1360px;
    height: 1375px;
}

&__line{
    width: 475px;
height: 1px;
    margin-top: 37px;
}

&__nav{
    margin-top: 131px;
}

&__btn{
    width: 125px;
height: 50px;
flex-shrink: 0;
background: #4A4FF2;
margin-top: 37px;
margin-left: 30px;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}



}
button:hover{
    color: aquamarine;
}

.column{
    width: 1360px;
    height: 1375px;

}
.map__map{
    width: 1110px;
    height: 970px;
    margin-left: 125px;
    // margin-top: -999px;
  }
    






   

