.top{
    display: flex;
    flex-direction: row;
    width: 1109px;
}

.ttl{
    width: 1109px;
   

&__second-title{
    color: #4A4FF2;
    font-family: Mulish;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.423px;
    margin-top: 100px;
    margin-left: 125px;
}

 &__p-first{
    color: #111;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 150% */
    width: 635px;
    height: 191px;
    margin-left: 125px;
    margin-top: 32px;
 }
 &__blue{
    color: #4A4FF2;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
 }
}

.right{

    &__line{
        width: 30px;
        height: 2px;
        opacity: 0.5;
        background: #111;
        margin-left: 190px;
        margin-top: 290px;
        display: flex;
     }

     &__blur{
        color: #111;
        font-family: Mulish;
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
        margin-top: 9px;
        margin-left: 190px;
        opacity: 0.6;
        
     }
}

.picbox{
    // display: flex;
    // flex-direction: row;
    // // justify-content: space-evenly;
    // align-items: flex-start;
    // flex-wrap: wrap;
    

     &__a{
        display: flex;
        width: 1110px;
        height: 1960px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin-left: 125px;
        // width: 357px;
        // height: 413px;
        // flex-shrink: 0;
        // margin-left: 125px;
        // margin-top: 144px;
    }

    // &__b{
    //     width: 356px;
    //     height: 351px;
    //     flex-shrink: 0;
    //     margin-left: 20px;
    //     margin-top: 144px;
   
    // }

    // &__c{
    //     width: 350px;
    //     height: 599px;
    //     flex-shrink: 0; 
    //     margin-left: 27px;
    //     margin-top: 144px;
    //     margin-right:125px ;
    // }

    // &__d{
    //     width: 357px;
    //     height: 475px;
    //     flex-shrink: 0;
    //     margin-left: 125px;
    //     margin-top: 20px;
       
    // }

    // &__e{
    //     width: 350px;
    //     height: 413px;
    //     flex-shrink: 0;
    //     margin-top: -220px;
    //     margin-left: 20px;
    // }

    // &__f{
    //     width: 357px;
    //     height: 413px;
    //     flex-shrink: 0;
    // }

    // &__g{
    //     width: 357px;
    //     height: 475px;
    //     flex-shrink: 0;
    // }

    // &__h{
    //     width: 356px;
    //     height: 537px;
    //     flex-shrink: 0;
    // }

    // &__i{
    //     width: 357px;
    //     height: 537px;
    //     flex-shrink: 0;
    // }
    // &__j{
    //     width: 357px;
    //     height: 537px;
    //     flex-shrink: 0;
    // }

    // &__k{
    //     width: 356px;
    //     height: 599px;
    //     flex-shrink: 0;
    // }

    // &__l{
    //     width: 350px;
    //     height: 351px;
    //     flex-shrink: 0;
    // }
}
