.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1109px;
}

.ttl {
  width: 1109px;
}
.ttl__second-title {
  color: #4A4FF2;
  font-family: Mulish;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.423px;
  margin-top: 100px;
  margin-left: 125px;
}
.ttl__p-first {
  color: #111;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 150% */
  width: 635px;
  height: 191px;
  margin-left: 125px;
  margin-top: 32px;
}
.ttl__blue {
  color: #4A4FF2;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.right__line {
  width: 30px;
  height: 2px;
  opacity: 0.5;
  background: #111;
  margin-left: 190px;
  margin-top: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.right__blur {
  color: #111;
  font-family: Mulish;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin-top: 9px;
  margin-left: 190px;
  opacity: 0.6;
}

.picbox__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1110px;
  height: 1960px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 125px;
}

.box {
  width: 1079px;
  height: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.box__p-second {
  width: 635px;
  height: 106px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #111;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 135.714% */
  margin-left: 125px;
  margin-top: 91px;
}
.box__middle-nav {
  width: 444px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.box__right-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  list-style: none;
  margin-top: 99px;
  opacity: 0.6;
}

.underline {
  margin-top: 201px;
  width: 1110px;
  height: 2px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.row {
  width: 1110px;
  height: 823px;
  margin-left: 125px;
  margin-top: 50px;
}

.container {
  width: 1109px;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.container__logo {
  width: 90.132px;
  height: 19.344px;
  fill: #111;
  margin-top: 61px;
  margin-left: 126px;
}
.container__nav {
  color: #111;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.346px;
}
.container__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.container__li {
  list-style: none;
  margin-top: 61px;
  margin-left: 857px;
}
.container__li2 {
  list-style: none;
  margin-top: 61px;
  margin-left: 59px;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin-right: 0px;
}