.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ttl__second-title {
  color: #4A4FF2;
  font-family: Mulish;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.423px;
  margin-top: 100px;
  margin-left: 125px;
}
.ttl__p-first {
  color: #111;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 150% */
  width: 635px;
  height: 191px;
  margin-left: 125px;
  margin-top: 32px;
}
.ttl__blue {
  color: #4A4FF2;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.right__line {
  width: 30px;
  height: 2px;
  opacity: 0.5;
  background: #111;
  margin-left: 190px;
  margin-top: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.right__blur {
  color: #111;
  font-family: Mulish;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin-top: 9px;
  margin-left: 190px;
  opacity: 0.6;
}

.picbox__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1110px;
  height: 1960px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 125px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.box__p-second {
  width: 635px;
  height: 106px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #111;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 135.714% */
  margin-left: 125px;
  margin-top: 91px;
}
.box__middle-nav {
  width: 444px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-left: 200px;
}
.box__right-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  list-style: none;
  margin-top: 99px;
  opacity: 0.6;
}

.underline {
  margin-top: 101px;
  width: 1110px;
  height: 2px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 125px;
}

.row {
  width: 1110px;
  margin-left: 125px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.row__first-ttl {
  color: #111;
  font-family: Mulish;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 48px;
  margin-left: 1px;
}
.row__mid-r {
  color: #111;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 48px;
  margin-left: 353px;
}
.row__mid-r2 {
  color: #111;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 167px;
  margin-left: 353px;
}
.row__one {
  color: #111;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 160px;
  margin-top: 48px;
}
.row__two {
  color: #111;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 160px;
  margin-top: 150px;
}
.row__under-txt {
  width: 190px;
  color: #111;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  opacity: 0.6;
  margin-left: 160px;
  margin-top: 12px;
}

.under-line {
  margin-top: 32px;
  width: 1110px;
  margin-left: 125px;
}

.second {
  width: 1110px;
  margin-left: 125px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.second__first-ttl {
  color: #111;
  font-family: Mulish;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 48px;
  margin-left: 1px;
}
.second__mid-r {
  color: #111;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 48px;
  margin-left: 353px;
}
.second__mid-r2 {
  color: #111;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 167px;
  margin-left: 353px;
}
.second__one {
  color: #111;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 160px;
  margin-top: 48px;
}
.second__two {
  color: #111;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 160px;
  margin-top: 150px;
}
.second__under-txt {
  width: 190px;
  color: #111;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  opacity: 0.6;
  margin-left: 160px;
  margin-top: 12px;
}

.under-line2 {
  margin-top: 31px;
  width: 1110px;
  margin-left: 125px;
}

.container {
  width: 1109px;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.container__logo {
  width: 90.132px;
  height: 19.344px;
  fill: #111;
  margin-top: 61px;
  margin-left: 126px;
}
.container__nav {
  color: #000000;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.346px;
}
.container__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.container__li {
  list-style: none;
  margin-left: 857px;
  margin-top: -40px;
}
.container__li2 {
  list-style: none;
  margin-top: -40px;
  margin-left: 59px;
}

body {
  padding: 0px;
  margin-right: 0px;
}

.finish {
  width: 1109px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.finish__logo-last {
  width: 90.132px;
  height: 19.344px;
  fill: #111;
  margin-top: 116px;
  margin-left: 126px;
}
.finish__nav {
  color: #111;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.346px;
  margin-top: 10px;
}
.finish__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 600px;
}
.finish__li1 {
  list-style: none;
}
.finish__li2 {
  list-style: none;
  margin-left: 30px;
  margin-right: 90px;
}
.finish__social {
  margin-top: 118px;
}