.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ttl__second-title {
  color: #4A4FF2;
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.423px;
  margin-top: 100px;
  margin-left: 50px;
}
.ttl__p-first {
  color: #111;
  font-family: "Mulish", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 150% */
  width: 100%;
  max-width: 635px;
  margin-left: 50px;
  margin-top: 32px;
  min-height: 191px;
}
.ttl__blue {
  color: #4A4FF2;
  font-family: "Mulish", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.right__line {
  width: 30px;
  height: 2px;
  opacity: 0.5;
  background: #111;
  margin-left: 50px;
  margin-top: 100px;
}
.right__blur {
  color: #111;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin-left: 50px;
  opacity: 0.6;
}

.picbox {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-rows: repeat(30, 1fr);
  grid-gap: 10px;
}

.picbox > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(11) {
  -ms-grid-row: 1;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(12) {
  -ms-grid-row: 1;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(19) {
  -ms-grid-row: 3;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(20) {
  -ms-grid-row: 3;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(21) {
  -ms-grid-row: 3;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(22) {
  -ms-grid-row: 3;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(23) {
  -ms-grid-row: 3;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(24) {
  -ms-grid-row: 3;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(25) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(26) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(27) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(28) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(29) {
  -ms-grid-row: 5;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(30) {
  -ms-grid-row: 5;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(31) {
  -ms-grid-row: 5;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(32) {
  -ms-grid-row: 5;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(33) {
  -ms-grid-row: 5;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(34) {
  -ms-grid-row: 5;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(35) {
  -ms-grid-row: 5;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(36) {
  -ms-grid-row: 5;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(37) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(38) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(39) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(40) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(41) {
  -ms-grid-row: 7;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(42) {
  -ms-grid-row: 7;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(43) {
  -ms-grid-row: 7;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(44) {
  -ms-grid-row: 7;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(45) {
  -ms-grid-row: 7;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(46) {
  -ms-grid-row: 7;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(47) {
  -ms-grid-row: 7;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(48) {
  -ms-grid-row: 7;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(49) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(50) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(51) {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(52) {
  -ms-grid-row: 9;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(53) {
  -ms-grid-row: 9;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(54) {
  -ms-grid-row: 9;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(55) {
  -ms-grid-row: 9;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(56) {
  -ms-grid-row: 9;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(57) {
  -ms-grid-row: 9;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(58) {
  -ms-grid-row: 9;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(59) {
  -ms-grid-row: 9;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(60) {
  -ms-grid-row: 9;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(61) {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(62) {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(63) {
  -ms-grid-row: 11;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(64) {
  -ms-grid-row: 11;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(65) {
  -ms-grid-row: 11;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(66) {
  -ms-grid-row: 11;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(67) {
  -ms-grid-row: 11;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(68) {
  -ms-grid-row: 11;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(69) {
  -ms-grid-row: 11;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(70) {
  -ms-grid-row: 11;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(71) {
  -ms-grid-row: 11;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(72) {
  -ms-grid-row: 11;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(73) {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(74) {
  -ms-grid-row: 13;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(75) {
  -ms-grid-row: 13;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(76) {
  -ms-grid-row: 13;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(77) {
  -ms-grid-row: 13;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(78) {
  -ms-grid-row: 13;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(79) {
  -ms-grid-row: 13;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(80) {
  -ms-grid-row: 13;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(81) {
  -ms-grid-row: 13;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(82) {
  -ms-grid-row: 13;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(83) {
  -ms-grid-row: 13;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(84) {
  -ms-grid-row: 13;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(85) {
  -ms-grid-row: 15;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(86) {
  -ms-grid-row: 15;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(87) {
  -ms-grid-row: 15;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(88) {
  -ms-grid-row: 15;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(89) {
  -ms-grid-row: 15;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(90) {
  -ms-grid-row: 15;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(91) {
  -ms-grid-row: 15;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(92) {
  -ms-grid-row: 15;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(93) {
  -ms-grid-row: 15;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(94) {
  -ms-grid-row: 15;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(95) {
  -ms-grid-row: 15;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(96) {
  -ms-grid-row: 15;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(97) {
  -ms-grid-row: 17;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(98) {
  -ms-grid-row: 17;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(99) {
  -ms-grid-row: 17;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(100) {
  -ms-grid-row: 17;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(101) {
  -ms-grid-row: 17;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(102) {
  -ms-grid-row: 17;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(103) {
  -ms-grid-row: 17;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(104) {
  -ms-grid-row: 17;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(105) {
  -ms-grid-row: 17;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(106) {
  -ms-grid-row: 17;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(107) {
  -ms-grid-row: 17;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(108) {
  -ms-grid-row: 17;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(109) {
  -ms-grid-row: 19;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(110) {
  -ms-grid-row: 19;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(111) {
  -ms-grid-row: 19;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(112) {
  -ms-grid-row: 19;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(113) {
  -ms-grid-row: 19;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(114) {
  -ms-grid-row: 19;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(115) {
  -ms-grid-row: 19;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(116) {
  -ms-grid-row: 19;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(117) {
  -ms-grid-row: 19;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(118) {
  -ms-grid-row: 19;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(119) {
  -ms-grid-row: 19;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(120) {
  -ms-grid-row: 19;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(121) {
  -ms-grid-row: 21;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(122) {
  -ms-grid-row: 21;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(123) {
  -ms-grid-row: 21;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(124) {
  -ms-grid-row: 21;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(125) {
  -ms-grid-row: 21;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(126) {
  -ms-grid-row: 21;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(127) {
  -ms-grid-row: 21;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(128) {
  -ms-grid-row: 21;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(129) {
  -ms-grid-row: 21;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(130) {
  -ms-grid-row: 21;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(131) {
  -ms-grid-row: 21;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(132) {
  -ms-grid-row: 21;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(133) {
  -ms-grid-row: 23;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(134) {
  -ms-grid-row: 23;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(135) {
  -ms-grid-row: 23;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(136) {
  -ms-grid-row: 23;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(137) {
  -ms-grid-row: 23;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(138) {
  -ms-grid-row: 23;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(139) {
  -ms-grid-row: 23;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(140) {
  -ms-grid-row: 23;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(141) {
  -ms-grid-row: 23;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(142) {
  -ms-grid-row: 23;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(143) {
  -ms-grid-row: 23;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(144) {
  -ms-grid-row: 23;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(145) {
  -ms-grid-row: 25;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(146) {
  -ms-grid-row: 25;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(147) {
  -ms-grid-row: 25;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(148) {
  -ms-grid-row: 25;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(149) {
  -ms-grid-row: 25;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(150) {
  -ms-grid-row: 25;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(151) {
  -ms-grid-row: 25;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(152) {
  -ms-grid-row: 25;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(153) {
  -ms-grid-row: 25;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(154) {
  -ms-grid-row: 25;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(155) {
  -ms-grid-row: 25;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(156) {
  -ms-grid-row: 25;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(157) {
  -ms-grid-row: 27;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(158) {
  -ms-grid-row: 27;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(159) {
  -ms-grid-row: 27;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(160) {
  -ms-grid-row: 27;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(161) {
  -ms-grid-row: 27;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(162) {
  -ms-grid-row: 27;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(163) {
  -ms-grid-row: 27;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(164) {
  -ms-grid-row: 27;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(165) {
  -ms-grid-row: 27;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(166) {
  -ms-grid-row: 27;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(167) {
  -ms-grid-row: 27;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(168) {
  -ms-grid-row: 27;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(169) {
  -ms-grid-row: 29;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(170) {
  -ms-grid-row: 29;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(171) {
  -ms-grid-row: 29;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(172) {
  -ms-grid-row: 29;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(173) {
  -ms-grid-row: 29;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(174) {
  -ms-grid-row: 29;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(175) {
  -ms-grid-row: 29;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(176) {
  -ms-grid-row: 29;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(177) {
  -ms-grid-row: 29;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(178) {
  -ms-grid-row: 29;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(179) {
  -ms-grid-row: 29;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(180) {
  -ms-grid-row: 29;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(181) {
  -ms-grid-row: 31;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(182) {
  -ms-grid-row: 31;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(183) {
  -ms-grid-row: 31;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(184) {
  -ms-grid-row: 31;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(185) {
  -ms-grid-row: 31;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(186) {
  -ms-grid-row: 31;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(187) {
  -ms-grid-row: 31;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(188) {
  -ms-grid-row: 31;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(189) {
  -ms-grid-row: 31;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(190) {
  -ms-grid-row: 31;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(191) {
  -ms-grid-row: 31;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(192) {
  -ms-grid-row: 31;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(193) {
  -ms-grid-row: 33;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(194) {
  -ms-grid-row: 33;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(195) {
  -ms-grid-row: 33;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(196) {
  -ms-grid-row: 33;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(197) {
  -ms-grid-row: 33;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(198) {
  -ms-grid-row: 33;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(199) {
  -ms-grid-row: 33;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(200) {
  -ms-grid-row: 33;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(201) {
  -ms-grid-row: 33;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(202) {
  -ms-grid-row: 33;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(203) {
  -ms-grid-row: 33;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(204) {
  -ms-grid-row: 33;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(205) {
  -ms-grid-row: 35;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(206) {
  -ms-grid-row: 35;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(207) {
  -ms-grid-row: 35;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(208) {
  -ms-grid-row: 35;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(209) {
  -ms-grid-row: 35;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(210) {
  -ms-grid-row: 35;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(211) {
  -ms-grid-row: 35;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(212) {
  -ms-grid-row: 35;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(213) {
  -ms-grid-row: 35;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(214) {
  -ms-grid-row: 35;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(215) {
  -ms-grid-row: 35;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(216) {
  -ms-grid-row: 35;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(217) {
  -ms-grid-row: 37;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(218) {
  -ms-grid-row: 37;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(219) {
  -ms-grid-row: 37;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(220) {
  -ms-grid-row: 37;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(221) {
  -ms-grid-row: 37;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(222) {
  -ms-grid-row: 37;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(223) {
  -ms-grid-row: 37;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(224) {
  -ms-grid-row: 37;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(225) {
  -ms-grid-row: 37;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(226) {
  -ms-grid-row: 37;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(227) {
  -ms-grid-row: 37;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(228) {
  -ms-grid-row: 37;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(229) {
  -ms-grid-row: 39;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(230) {
  -ms-grid-row: 39;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(231) {
  -ms-grid-row: 39;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(232) {
  -ms-grid-row: 39;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(233) {
  -ms-grid-row: 39;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(234) {
  -ms-grid-row: 39;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(235) {
  -ms-grid-row: 39;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(236) {
  -ms-grid-row: 39;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(237) {
  -ms-grid-row: 39;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(238) {
  -ms-grid-row: 39;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(239) {
  -ms-grid-row: 39;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(240) {
  -ms-grid-row: 39;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(241) {
  -ms-grid-row: 41;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(242) {
  -ms-grid-row: 41;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(243) {
  -ms-grid-row: 41;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(244) {
  -ms-grid-row: 41;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(245) {
  -ms-grid-row: 41;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(246) {
  -ms-grid-row: 41;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(247) {
  -ms-grid-row: 41;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(248) {
  -ms-grid-row: 41;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(249) {
  -ms-grid-row: 41;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(250) {
  -ms-grid-row: 41;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(251) {
  -ms-grid-row: 41;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(252) {
  -ms-grid-row: 41;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(253) {
  -ms-grid-row: 43;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(254) {
  -ms-grid-row: 43;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(255) {
  -ms-grid-row: 43;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(256) {
  -ms-grid-row: 43;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(257) {
  -ms-grid-row: 43;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(258) {
  -ms-grid-row: 43;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(259) {
  -ms-grid-row: 43;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(260) {
  -ms-grid-row: 43;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(261) {
  -ms-grid-row: 43;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(262) {
  -ms-grid-row: 43;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(263) {
  -ms-grid-row: 43;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(264) {
  -ms-grid-row: 43;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(265) {
  -ms-grid-row: 45;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(266) {
  -ms-grid-row: 45;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(267) {
  -ms-grid-row: 45;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(268) {
  -ms-grid-row: 45;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(269) {
  -ms-grid-row: 45;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(270) {
  -ms-grid-row: 45;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(271) {
  -ms-grid-row: 45;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(272) {
  -ms-grid-row: 45;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(273) {
  -ms-grid-row: 45;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(274) {
  -ms-grid-row: 45;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(275) {
  -ms-grid-row: 45;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(276) {
  -ms-grid-row: 45;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(277) {
  -ms-grid-row: 47;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(278) {
  -ms-grid-row: 47;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(279) {
  -ms-grid-row: 47;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(280) {
  -ms-grid-row: 47;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(281) {
  -ms-grid-row: 47;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(282) {
  -ms-grid-row: 47;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(283) {
  -ms-grid-row: 47;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(284) {
  -ms-grid-row: 47;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(285) {
  -ms-grid-row: 47;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(286) {
  -ms-grid-row: 47;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(287) {
  -ms-grid-row: 47;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(288) {
  -ms-grid-row: 47;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(289) {
  -ms-grid-row: 49;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(290) {
  -ms-grid-row: 49;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(291) {
  -ms-grid-row: 49;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(292) {
  -ms-grid-row: 49;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(293) {
  -ms-grid-row: 49;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(294) {
  -ms-grid-row: 49;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(295) {
  -ms-grid-row: 49;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(296) {
  -ms-grid-row: 49;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(297) {
  -ms-grid-row: 49;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(298) {
  -ms-grid-row: 49;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(299) {
  -ms-grid-row: 49;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(300) {
  -ms-grid-row: 49;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(301) {
  -ms-grid-row: 51;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(302) {
  -ms-grid-row: 51;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(303) {
  -ms-grid-row: 51;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(304) {
  -ms-grid-row: 51;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(305) {
  -ms-grid-row: 51;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(306) {
  -ms-grid-row: 51;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(307) {
  -ms-grid-row: 51;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(308) {
  -ms-grid-row: 51;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(309) {
  -ms-grid-row: 51;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(310) {
  -ms-grid-row: 51;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(311) {
  -ms-grid-row: 51;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(312) {
  -ms-grid-row: 51;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(313) {
  -ms-grid-row: 53;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(314) {
  -ms-grid-row: 53;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(315) {
  -ms-grid-row: 53;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(316) {
  -ms-grid-row: 53;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(317) {
  -ms-grid-row: 53;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(318) {
  -ms-grid-row: 53;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(319) {
  -ms-grid-row: 53;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(320) {
  -ms-grid-row: 53;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(321) {
  -ms-grid-row: 53;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(322) {
  -ms-grid-row: 53;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(323) {
  -ms-grid-row: 53;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(324) {
  -ms-grid-row: 53;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(325) {
  -ms-grid-row: 55;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(326) {
  -ms-grid-row: 55;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(327) {
  -ms-grid-row: 55;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(328) {
  -ms-grid-row: 55;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(329) {
  -ms-grid-row: 55;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(330) {
  -ms-grid-row: 55;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(331) {
  -ms-grid-row: 55;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(332) {
  -ms-grid-row: 55;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(333) {
  -ms-grid-row: 55;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(334) {
  -ms-grid-row: 55;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(335) {
  -ms-grid-row: 55;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(336) {
  -ms-grid-row: 55;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(337) {
  -ms-grid-row: 57;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(338) {
  -ms-grid-row: 57;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(339) {
  -ms-grid-row: 57;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(340) {
  -ms-grid-row: 57;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(341) {
  -ms-grid-row: 57;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(342) {
  -ms-grid-row: 57;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(343) {
  -ms-grid-row: 57;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(344) {
  -ms-grid-row: 57;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(345) {
  -ms-grid-row: 57;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(346) {
  -ms-grid-row: 57;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(347) {
  -ms-grid-row: 57;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(348) {
  -ms-grid-row: 57;
  -ms-grid-column: 23;
}

.picbox > *:nth-child(349) {
  -ms-grid-row: 59;
  -ms-grid-column: 1;
}

.picbox > *:nth-child(350) {
  -ms-grid-row: 59;
  -ms-grid-column: 3;
}

.picbox > *:nth-child(351) {
  -ms-grid-row: 59;
  -ms-grid-column: 5;
}

.picbox > *:nth-child(352) {
  -ms-grid-row: 59;
  -ms-grid-column: 7;
}

.picbox > *:nth-child(353) {
  -ms-grid-row: 59;
  -ms-grid-column: 9;
}

.picbox > *:nth-child(354) {
  -ms-grid-row: 59;
  -ms-grid-column: 11;
}

.picbox > *:nth-child(355) {
  -ms-grid-row: 59;
  -ms-grid-column: 13;
}

.picbox > *:nth-child(356) {
  -ms-grid-row: 59;
  -ms-grid-column: 15;
}

.picbox > *:nth-child(357) {
  -ms-grid-row: 59;
  -ms-grid-column: 17;
}

.picbox > *:nth-child(358) {
  -ms-grid-row: 59;
  -ms-grid-column: 19;
}

.picbox > *:nth-child(359) {
  -ms-grid-row: 59;
  -ms-grid-column: 21;
}

.picbox > *:nth-child(360) {
  -ms-grid-row: 59;
  -ms-grid-column: 23;
}
.picbox__one {
  -ms-grid-row: 6;
  -ms-grid-row-span: 4;
  grid-row: 6/10;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
}
.picbox__two {
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6/9;
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-column: 5/10;
}
.picbox__three {
  -ms-grid-row: 6;
  -ms-grid-row-span: 7;
  grid-row: 6/13;
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8/10;
}
.picbox__four {
  -ms-grid-row: 10;
  -ms-grid-row-span: 6;
  grid-row: 10/16;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}
.picbox__five {
  -ms-grid-row: 9;
  -ms-grid-row-span: 7;
  grid-row: 9/16;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
}
.picbox__six {
  -ms-grid-row: 11;
  -ms-grid-row-span: 5;
  grid-row: 11/16;
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8/10;
}
.picbox__seven {
  -ms-grid-row: 14;
  -ms-grid-row-span: 6;
  grid-row: 14/20;
  -ms-grid-column: 2;
  -ms-grid-column-span: 9;
  grid-column: 2/11;
}
.picbox__eight {
  -ms-grid-row: 13;
  -ms-grid-row-span: 11;
  grid-row: 13/24;
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-column: 5/10;
}
.picbox__nine {
  -ms-grid-row: 15;
  -ms-grid-row-span: 8;
  grid-row: 15/23;
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8/10;
}
.picbox__ten {
  -ms-grid-row: 18;
  -ms-grid-row-span: 10;
  grid-row: 18/28;
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
}
.picbox__elv {
  -ms-grid-row: 18;
  -ms-grid-row-span: 5;
  grid-row: 18/23;
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-column: 5/10;
}
.picbox__tlv {
  -ms-grid-row: 20;
  -ms-grid-row-span: 3;
  grid-row: 20/23;
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8/10;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.box__p-second {
  width: 100%;
  min-height: 106px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #111;
  font-family: "Mulish", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px; /* 135.714% */
  margin-left: 50px;
  margin-top: 91px;
}
.box__middle-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-left: 50px;
}
.box__right-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  list-style: none;
  margin-top: 100px;
  opacity: 0.6;
}

.underline {
  margin-top: 100px;
  width: 100%;
  height: 2px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.row {
  width: 100%;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.row__first-ttl {
  color: #111;
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.row__mid-r {
  color: #111;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.row__mid-r2 {
  color: #111;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 100px;
}
.row__one {
  color: #111;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.row__two {
  color: #111;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.row__under-txt {
  width: 190px;
  color: #111;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  opacity: 0.6;
}
.row__tre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}
.row__row-tre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.under-line {
  margin-top: 32px;
  width: 100%;
  margin-left: 50px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}
.title__main {
  margin-top: 100px;
  margin-left: 50px;
  width: 100%;
  color: #111;
  font-family: "Mulish", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 137.5% */
}
.title__upp {
  margin-right: 50px;
}
.title__p {
  margin-left: 50px;
  width: 100%;
  height: 222px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #111;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.title__p2 {
  margin-left: 50px;
  width: 100%;
  height: 222px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #111;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.title__box {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.title__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.title__i {
  color: #111;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 37px;
  margin-left: -5px;
}
.title__i2 {
  color: #111;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 37px;
  margin-right: 50px;
}

.line-short {
  margin-left: -40px;
  width: 100%;
}

.pic__grl {
  width: 100%;
  height: 660px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 660px;
  flex-shrink: 0;
  margin-left: 50px;
  margin-top: 50px;
}

.p__p {
  width: 100%;
  height: 93px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #111;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  text-align: center;
  margin-left: 50px;
}

.pic2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 50px;
  width: 100%;
}

.last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 500px;
}
.last__head {
  color: #111;
  font-family: "Mulish", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 137.5% */
  width: 100%;
  height: 174px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 50px;
  margin-top: 100px;
}
.last__prg {
  color: #111;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  width: 100%;
  height: 56px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 50px;
}
.last__right {
  margin-left: 50px;
  width: 100%;
}
.last__line {
  width: 100%;
  height: 1px;
  margin-top: 37px;
}
.last__nav {
  margin-top: 100px;
}
.last__btn {
  width: 125px;
  height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #4A4FF2;
  margin-top: 37px;
  margin-left: 30px;
  color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

button:hover {
  color: aquamarine;
}

.column {
  width: 100%;
}

.map__map {
  width: 100%;
  margin-left: 50px;
}

.container {
  width: 100%;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.container__logo {
  width: 100%;
  height: 19.344px;
  fill: #111;
  margin-top: 61px;
  margin-left: 50px;
}
.container__nav {
  color: #000000;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.346px;
}
.container__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.container__li {
  list-style: none;
  margin-top: -40px;
}
.container__li2 {
  list-style: none;
  margin-top: -40px;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 23px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.top__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #111111;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.346px;
}
.top__li2 {
  margin-left: 29px;
}

body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  padding: 0px;
  margin-right: 0px;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.container__logo {
  width: 90.132px;
  height: 19.344px;
  fill: #111;
}
.container__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.container__li {
  list-style: none;
}
.container__li2 {
  list-style: none;
  margin-left: 30px;
  margin-right: 90px;
}
.container__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

a {
  text-decoration: none;
  color: #111;
}